@use "@picocss/pico/scss/pico";

#{pico.$semantic-root-element} > main.g-dashboard {
  height: 100%;

  display: grid;
  grid-template-areas:
    "aside-navigation body"
    "aside-navigation body"
    "bottom bottom";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto 1fr;

  row-gap: 2rem;
  column-gap: 2rem;

  position: relative;

  & aside#ga-dashboard-navigation {
    grid-area: aside-navigation;
    position: static;
    padding: var(--pico-spacing);
    border-radius: var(--pico-border-radius);
    box-shadow: var(--pico-box-shadow);
  }

  & div#ga-dashboard-main {
    grid-area: body;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    padding: var(--pico-spacing);
    border-radius: var(--pico-border-radius);
    box-shadow: var(--pico-box-shadow);
  }

  & article#ga-dashboard-bottom {
    grid-area: bottom;
    position: static;

    justify-content: center;
    align-items: center;

    display: flex;
    gap: var(--pico-spacing);
    flex-direction: row;
    flex-flow: row;

    & hr {
      height: 1em;
      border: solid 1px var(--pico-contrast);
    }
  }
}
