@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "div#root",
  $enable-semantic-container: true,
  $enable-classes: true
);

@use "./common";
@use "./layout";

@use "/src/modules/agrovar/sass/index.scss" as agrovar;
@use "/src/modules/homepage/sass/index.scss" as homepage;

:root {
  #{pico.$css-var-prefix}font-family: "Zilla Slab", sans-serif, system-ui;
  #{pico.$css-var-prefix}font-weight: 400;
}
