@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "div#root",
  $enable-semantic-container: true,
  $enable-classes: true
);

@use "./layout";

@use "/src/modules/agrovar/sass/index.scss" as agrovar;
@use "/src/modules/homepage/sass/index.scss" as homepage;

:root[data-theme="light"] {
  --pico-progress-color: #88bd22;
}

:root[data-theme="dark"] {
  --pico-progress-color: #68921a;
}
