@use "@picocss/pico/scss/pico";

#{pico.$semantic-root-element} > main.g-homepage {
  display: grid;
  grid-template-areas:
    "menu header table-of-content"
    "menu body table-of-content";
  grid-template-columns: 10.5rem 1fr 10.5rem;
  grid-template-rows: auto 1fr;

  row-gap: 4rem;
  column-gap: 4rem;

  & hgroup#ga-header {
    grid-area: header;
  }

  & aside#ga-table-of-contents {
    grid-area: table-of-content;
  }

  & div#ga-body {
    grid-area: body;
  }

  & aside#ga-menu {
    grid-area: menu;
  }
}

main.g-homepage aside li {
  padding: calc(var(--pico-nav-element-spacing-vertical) * 0.25) 0;
}

main.g-homepage aside nav details {
  // Change the bottom border.
  & > summary {
    margin-bottom: calc(var(--pico-spacing) * 0.5);
  }

  // Remove the toggle icon.
  summary::after {
    content: none;
  }

  // Adds a border left to the list.
  ul,
  ol {
    margin: 0;
    border-left: var(--pico-border-width) solid var(--pico-muted-border-color);
  }

  a.secondary {
    // Prefix the text to left with a litte left padding.
    margin: 0;
    padding: 0;
    padding-left: calc(var(--pico-nav-element-spacing-horizontal) * 1.5);

    // Change the font wheight.
    font-weight: 200;

    &:is([aria-current]):not([aria-current="true"]) {
      border-color: var(--pico-primary);
      color: var(--pico-primary-hover);
      font-weight: 600;
    }
  }
}
