@use "@picocss/pico/scss/pico";
@use "@picocss/pico/scss/colors";

#{pico.$semantic-root-element}
  > main.g-homepage
  hgroup
  p
  abbr[title].color-accent {
  font-weight: 500;
  // color: #8cbf3f;
  color: #{colors.$green-400};
}

// Disable the text selection for labels at the same level of the input.
input ~ label {
  user-select: none;
}
