.d-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  hr {
    width: 0;
    margin: 0 var(--pico-typography-spacing-vertical) 0;
  }
}
