@use "@picocss/pico/scss/pico";

#{pico.$semantic-root-element} > header {
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 2;

  backdrop-filter: blur(1rem);
  transition: border-top-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

  & div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

header div.container > nav ul:last-of-type li:first-child::before {
  margin-inline: var(--pico-nav-element-spacing-horizontal);
  border-left: var(--pico-border-width) solid var(--pico-muted-border-color);
}
