@use "@picocss/pico/scss/colors";

hgroup.loader {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;

  & > *:not(hr) {
    justify-self: center;
  }

  & > p {
    color: var(--pico-secondary);
    font-weight: 600;
    text-align: center;
  }
}

span.loading {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #{colors.$white};
  box-shadow: -24px 0 #{colors.$white}, 24px 0 #{colors.$white};
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #{colors.$white};
    box-shadow: -24px 0 #{colors.$slate-350}, 24px 0 #{colors.$white};
  }
  66% {
    background: #{colors.$slate-350};
    box-shadow: -24px 0 #{colors.$white}, 24px 0 #{colors.$white};
  }
  100% {
    background: #{colors.$white};
    box-shadow: -24px 0 #{colors.$white}, 24px 0 #{colors.$slate-350};
  }
}
